*{
    font-family:Arial, Helvetica, sans-serif;
    user-select: none;
}
body{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
#toolBar{
    position: absolute;
    top: 0%;
    font-size: xx-large;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: white;
    box-shadow: 0px 3px 3px grey;
    hr{
        padding: 0%;
        margin: 0%;
    }
}
#goalText{
    margin: 0.4em;
}
#multichoice{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#multichoiceStyler{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 3px grey;
    margin: 5%;
    min-height: 20%;
    button{
        font-size: xx-large;
    }
    div{
        padding: 1em;
    }
}
#popupMenu{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: min-content;
}
.joinLine{
    padding:0px; 
    margin:0px; 
    background-color:black; 
    border: 1px solid black;
    height: 1px;
    line-height:1px; 
    position:absolute; 
    z-index: -1;
}
.word {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    cursor: move;
    font-size: xx-large;
    padding: 0.05em;
    text-wrap: nowrap;
}

.goalWord{
    background-color: green;
    color: white;
}

.ipaWord{
    letter-spacing:0.05em;
}
.ipaWord::before{
    content: "/";
}
.ipaWord::after{
    content: "/";
}
.disabled{
    background-color: lightgrey;
    color: black;
}

.popupBtn{
    width: 100%;
    text-align: left;
    border-radius: 0%;
    text-wrap: nowrap;
    font-size: x-large;
    .hoverText{
        display: none;
    }
}

.hoverBox{
    .hoverText{
        display: none;
    }
}

.completedGoal{
    color:green;
}

#mainMenu{
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (orientation: landscape){
    .menuButton{
        font-size: 150%;
    }
    .mainMenuMultiChoice{
        button{
            font-size: xx-large;
            background-color: white;
        }
        .disabled{
            background-color: grey;
        }
        padding: 0.5em;
    }
    .showOnMobile{
        display: none;
    }
    #toolBarContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            font-size: xx-large;
            margin: 0.2em;
        }
    }
    .popupBtn:hover:disabled, .hoverBox:hover{
        .hoverText{
            display: initial;
            position: absolute;
            float: right;
            background-color: white;
            color: black;
            border: 1px solid black;
            transform: translateX(5em);
        }
    }
}
@media (orientation: portrait){
    .menuButton{
        font-size: 110%;
    }
    .mainMenuMultiChoice{
        text-align: center;
        button{
            font-size: large;
            background-color: white;
        }
        .disabled{
            background-color: grey;
        }
        padding: 0em;
    }
    .showOnMobile{
        display: initial;
    }
    #toolBarContent{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    #toolBarButtons{
        width: 100%;
        display: flex;
        justify-content: stretch;
        button{
            flex-grow: 1;
            font-size: x-large;
            margin: 0.2em;
        }
    }
    #goalText{
        font-size: x-large;
    }
    .popupBtn:hover:disabled, .hoverBox:hover{
        .hoverText{
            display: initial;
            position: absolute;
            float: left;
            text-wrap: wrap;
            background-color: white;
            color: black;
            border: 1px solid black;
            /* transform: translateX(5em); */
        }
    }
}
.menuButton{
    margin: 0.1em;
}
#game{
    display: none;
}

#tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        width: 80%;
        font-size: large;
    }
    h1{
        text-align: center;
    }
    overflow-y: scroll;
}
.tutorialHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    justify-content: center;
    button{
        width: 9em;
        pointer-events: none;
    }
}

#backToMenuSpan{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    button{
        font-size: xx-large;
    }
}